body {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color: #faebd7bd;
  margin-top: 1em;
  padding: 1em;
}

h1,
p {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  line-height: normal;
}

#aside {
  font-size: initial;
}

form {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 1em;
  max-width: 80%;
}

select {
  height: 2em;
  width: 13em;
  text-align: center;
}

input {
  text-align: center;
  width: 5em;
  height: 2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
